*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.heading{
    text-align: center;
    color: #4B0082;
    font-size: 2.5rem;
    margin: 2%;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    /*border: 1px solid black;*/
}
.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid green;*/
    width: 100vmin;
    flex-wrap: wrap;
    height: 89vmin;
    gap: 2px;

}
.box{
    width: 17vmin;
    height: 17vmin;
    background-color: #e3824a;
    color: rgb(40, 180, 218);
    font-size: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.612);
    border-radius: 4%;
    border: 2px solid rgba(0, 0, 0, 0.612);
}
.reset , .newgame{
    width: 24vmin;
    height: 9vmin;
    background-color: #e3824a;
    color: rgb(40, 180, 218);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.612);
    border-radius: 4%;
    margin: 0 45%;
}
.reset{
    margin-top: 5%;
}
.winnertxt{
    display: none;
    font-size: 4rem;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 2%;
}
.newgame{
    display: none;
}



